[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# RCS1139: Add summary element to documentation comment.
dotnet_diagnostic.RCS1139.severity = silent
